<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppTransportSecurity
NSAppTransportSecurity
NSAppTransportSecurity
NSAPp</key>
	<dict>
		<key> NSExceptionDomains</key>
		<dict>
			<key> gridee.onrender.com</key>
			<dict>
				<key>NSExceptionRequiresForwardSecrecy</key>
				<false/>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>CFBundleGetInfoString</key>
	<string></string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoadsUsageDescription</key>
		<dict/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>New item</key>
			<string></string>
		</dict>
	</dict>
</dict>
</plist>
